/Users/divertome/github_repository/Crawling_practice/__pycache__
*.pyc
/Users/divertome/github_repository/Crawling_practice/node_modules
node_modules
database/inputgf.py
inputgf.py
database/inputgf.py
database/input_music.py
database/add_link.py
database/inputgf.py
